@charset "UTF-8";
/* CSS Document */

body {
	color: black;
	background-color: #F0F2F5;
	width: auto;
	padding: 0;
	margin: 0 0 0 0;
}

header {
	background-color: white;
	width: 100%;
	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	flex-direction: row;
    font-size: 14px;
	text-align: center;
    line-height: 1.5;
	padding: 0;
    margin: 0 0 10px 0;
	height: 60px;
}

img.header {
	max-height: 40px;
	margin: 0 0 0 10px;
}

div.header { 
	font-family: Title Font;
	font-size: 18px;
	width: 400px; 
	text-decoration: none;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: row;
}

a {
	text-decoration: none;
	color: black; 
}

button.ant-btn {
	width: 170px; 
	height: 46px; 
	border: none; 
	background-color: white;
}

h2 {
	font-family: Title Font;
	font-size: 30px;
	text-align: center;
	line-height: 1;
}

h3 {
	font-family: Title Font;
	font-size: 20px;
	text-align: center;
	line-height: 1;
}

section.total {
	margin: 50px 50px 0 50px;

	background-color: white;
}

h1 {
	font-family: Title Font;
	font-size: 30px;
	text-align: center;
}


	
	