@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
	


:root {
	--back: #ffffd0;
	--textC: #111118;
	--imdb: #e4160a;
	--meta: #177a7d;
	--high: rgba(0,0,0, 0.05)
}


body {
	color: black;
	background-color: #F0F2F5;
	width: auto;
	padding: 0;
	margin: 0 0 0 0;
	font-family: 'Space Mono', monospace;
}

header {
	background-color: white;
	width: 100%;
	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	flex-direction: row;
    font-size: 14px;
	text-align: center;
    line-height: 1.5;
	padding: 0;
    margin: 0 0 10px 0;
	height: 60px;
}

img.header {
	max-height: 40px;
	margin: 0 0 0 10px;
}

div.header { 
	font-family: Title Font;
	font-size: 18px;
	width: 400px; 
	text-decoration: none;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: row;
}

a {
	text-decoration: none;
	color: black; 
}

button.ant-btn {
	width: 170px; 
	height: 46px; 
	border: none; 
	background-color: white;
}

h1 {
	font-family: Title Font;
	font-size: 50px;
	text-align: center;
	line-height: 1;
	margin: 0 0 0 0;
}

h2 {
	font-family: Title Font;
	color: gray;
	font-size: 16px;
	text-align: center;
	line-height: 1;
	margin: 0 0 30px 0;
	opacity: 55%;
}

h3 {
	font-family: Title Font;
	font-size: 20px;
	text-align: center;
	line-height: 1;
}

	

section {

	padding: 24px;

	
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	

	margin: 50px 50px 0 50px;

	background-color: white;
}

form {
	position: sticky;
	background-color: white;
	top: 0;
	border-bottom: 3px solid var(--textC);
	width: 100%;
	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	flex-direction: row;
    font-size: 14px;
}
span {
	margin: 0 1px 0 0;
	font-size: 12px;
}

span.i {
	color: var(--imdb);
}

span.m {
	color: var(--meta);
}

span.h {
	color: green;
}

span.r {
	margin: 0 0 0 5px;
	font-size: 25px;
	font-weight: 1200;
	color: black;
}

text {
	dominant-baseline: middle;
}

text.title {
	font-weight: 1000;
}

circle.publications {
	fill: var(--imdb);
	opacity: 90%;
}

circle.citations {
	fill: var(--meta);
	opacity: 90%;
}

circle.hIndex {
	fill: green;
	opacity: 90%;
}

text.citations {
	fill: var(--meta);
	font-size: 12px;
	opacity: 190%;
}

text.publications {
	fill: #e4162c;
	font-size: 12px;
	opacity: 190%;
}

text.hIndex {
	fill: green;
	font-size: 12px;
	opacity: 190%;
}

rect {
	fill: var(--high);
	opacity: 0;
	transition: opacity 0.25s;
}

g.movie:hover rect {
	opacity: 1;
}


path.publications {
	stroke: var(--imdb);
	stroke-width: 3px;
	fill: none;
	opacity: 70%;
	transition: opacity 0.25s;
	
}

path.citations {
	stroke: var(--meta);
	stroke-width: 3px;
	fill: none;
	opacity: 70%;
	transition: opacity 0.25s;
	
}

path.area {
	fill: var(--high);
	transition: opacity 0.25s;

}

path.hIndex {
	stroke: green;
	stroke-width: 3px;
	fill: none;
	opacity: 70%;
	transition: opacity 0.25s;
	
}

	
	