@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
	


:root {
	--back: #ffffd0;
	--textC: #111118;
	--imdb: #e4160d;
	--meta: #177a7d;
	--high: rgba(0,0,0, 0.05)
}

body {
	background-color: var(--back);
	color: var(--textC);
	font-family: 'Space Mono', monospace;
	font-size: 18px;
	line-height: 1.2;
}

header {
	background-color: var(--back);
	padding: 24px;
	
	border-bottom: 3px solid var(--textC);
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	position: sticky;
	top: 0;
}

span {
	margin: 0 10px 0 0;
}

span.i {
	color: var(--imdb);
}

span.m {
	color: var(--meta);
}

text {
	dominant-baseline: middle;
}

text.title {
	font-weight: 1000;
}

circle.imdb {
	fill: var(--imdb)
}

circle.meta {
	fill: var(--meta)
}

text.meta {
	fill: var(--meta);
	font-size: 12px;
}

text.imdb {
	fill: var(--imdb);
	font-size: 12px;
}

rect {
	fill: var(--high);
	opacity: 0;
	transition: opacity 0.25s;
}

g.movie:hover rect {
	opacity: 1;
}


path.imdb {
	stroke: var(--imdb);
	stroke-width: 3px;
	fill: none;
	transition: opacity 0.25s;
	
}

path.meta {
	stroke: var(--meta);
	stroke-width: 3px;
	fill: none;
	transition: opacity 0.25s;
	
}

path.area {
	fill: var(--high);
	
	transition: opacity 0.25s;

}



