@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Fredoka+One');


:root {
	--back: #f4f1e9;
	--main: #746f61;
	--placeh: #b4b0a4;
	--male: #ff8a00;
	--female: #00d400;
}

body {
	disply: flex;
	background-color: var(--back);
	color: var(--main);
	font-family: Fredoka One;
	font-size: 18px;
	line-height: 1.5;
	margin: 2% 40% 20px 20%;
}

header {
	background-color: var(--back);
	padding: 12px;
	margin: 0 20% 0 0;
	border-bottom: 2px solid var(--placeh);
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-bottom: 2px solid var(--placeh);
	margin: 0 20% 0 0;
	padding: 5px;
}

section {
	margin: 0 20% 0 0;
}

h2{
	font-size: 18px;
	line-height: 0.2;
}

input {
	font-size: 20px;
	line-height: 1.5;
	width: 40%;
	border: 2px solid var(--placeh);
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Fredoka One;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

div.key {
	display: flex;
	align-items: center;
	
}

div.key span {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-color: red;
	border-radius: 8px;
	margin: 0 5px 0 16px;
	vertical-align: baseline;
}

div.key span.male {
	background-color: lawngreen;
}

div.key span.female {
	background-color: orange;
}

path {
	fill: none;


}

path.domain {
	stroke-width: 3px;
}

path.male {
	stroke: lawngreen;
	stroke-width: 15px;
	stroke-linecap: round;
	mix-blend-mode: multiply;
}

path.female {
	stroke: orang;
	stroke-width: 15px;
	stroke-linecap: round;
	mix-blend-mode: multiply;
}

text {
	font-family: Fredoka One, Comic Sans;
	font-size: 12px;
}

path.leftA {
	stroke-width: 10px;
}

























